@font-face {
    font-family: 'Gowun Dodum', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gowun Dodum', sans-serif;
}

.join-view{
    margin: 0 auto;
    width:70%;
    height: auto;
    background-color: aliceblue;
}

.header{
    padding-top: 20px;
    width: 100%;
    height: 100px;
    background-color: #ddf0f5;
}

.header-upper{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.user-wrapper{
    display: flex;
}

.logo-wrapper{
    background-color: #fae4e4;
    width: 300px;
    height: 30px;
    background-image: url("../image/logo.png");
}

.start-project-btn{
    width: 130px;
    height: 30px;
    text-align: center;
    background-color: #fae4e4;
    border: none;
}

.login-btn{
    margin-left: 15px;
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #ffd6d6;
    border: none;
}

.user-button{
    margin-left: 10px;
}

.user-button > a > img {
    margin-top: 5px;
    width: 25px;
    height: 25px;
}

#header-fixed{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.categories{
    margin-left: 30px;
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

#category-bar{
    width: 30px;
    border: none;
}

#category-bar > i{
    font-size: 1.6rem;
}

.cate-con:hover{
    cursor: pointer;
    .category-select{
        display: block;
    }
}

.category-select{
    position: relative;
    width: 400px;
    height: 500px;
    background-color: #f5fbff;
    padding-top: 10px;
    display: none;
}

.category-select:hover{
    cursor: pointer;
    display: block;
}

.select-box{
    text-align: center;
    font-weight: bold;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    height: 30%;
}

.select-box > div{
    border: 1px solid black;
    border-radius: 8px;
    width: 30%;
    height: 100%;
}

.select-box > div > div {
    margin-top: 10px;
    height: 20%;
}

.select-box > div > img {
    margin-top: 20px;
    height: 60%;
    width: 60%;
}

.categories > div {
    width: 80px;
    border-bottom: 2px solid black;
}

#search-btn{
    margin-left: 15px;
    height: 30px;
    border: none;
    width: 80px;
    font-size: 1.3rem;
}

.search-section{
    display: flex;
    width: 300px;
    height: 40px;
}

.search-section > input{
    top: 0;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
}


.join-view > a{
    text-decoration: none;
}

.wrap{
    width: 450px;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 150px auto;
    padding: 50px 30px 50px 50px;
    border: 1px solid #dbdbdb;
    border-radius: 30px;
}

h3{
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 35px;
}

.input_wrap > input{
    width: 100%;
    height: 45px;
    display: block;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    padding: 0 15px;
    font-size: 20px;
}

.login_input{
    background-color: #eee;
}

.login_input::placeholder{
    font-size: 18px;
    color: #a8a8a8;
}

.check{
    height: 20px;
    width: 20px;
    float: left;
    margin-right: 15px;
}
#join_btn{
    background-color: #a1daff;
    color: white;
}

#join_btn:hover{
    cursor: pointer;
}
#cert_btn:hover{
    cursor: pointer;
}
p{
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    color: #808080;
}

p a{
    color: hsl(209, 92%, 50%);
}
