*{
    margin: 0;
    padding: 0;
}

.main-view{
    margin: 0 auto;
    width:70%;
    height: auto;
    background-color: aliceblue;
    padding-bottom: 50px;
}

.header{
    padding-top: 20px;
    width: 100%;
    height: 100px;
    background-color: #ddf0f5;
}

.header-upper{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.user-wrapper{
    display: flex;
}

.logo-wrapper{
    background-color: #fae4e4;
    width: 300px;
    height: 30px;
    background-image: url("../../image/logo.png");
}

.start-project-btn{
    width: 130px;
    height: 30px;
    text-align: center;
    background-color: #fae4e4;
    border: none;
}

.login-btn{
    margin-left: 15px;
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #ffd6d6;
    border: none;
}

.user-button{
    margin-left: 10px;
}

.user-button > a > img {
    margin-top: 5px;
    width: 25px;
    height: 25px;
}

#header-fixed{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.categories{
    margin-left: 30px;
    width: 500px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

#category-bar{
    width: 30px;
    border: none;
    padding-bottom: 10px;
}


#category-bar > i{
    font-size: 1.6rem;
}

.cate-con:hover{
    cursor: pointer;
    .category-select{
        display: block;
    }
}

.category-select{
    position: relative;
    width: 400px;
    height: 500px;
    background-color: #f5fbff;
    padding-top: 10px;
    display: none;
}

.category-select:hover{
    cursor: pointer;
    display: block;
}

.select-box{
    text-align: center;
    font-weight: bold;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    height: 30%;
}

.select-box > div{
    border: 1px solid black;
    border-radius: 8px;
    width: 30%;
    height: 100%;
}

.select-box > div > div {
    margin-top: 10px;
    height: 20%;
}

.select-box > div > img {
    margin-top: 20px;
    height: 60%;
    width: 60%;
}

.categories > div {
    width: 80px;
    height: 30px;
    border-bottom: 2px solid black;
}

#search-btn{
    margin-left: 15px;
    height: 30px;
    border: none;
    width: 80px;
    font-size: 1.3rem;
}

.search-section{
    display: flex;
    width: 300px;
    height: 40px;
}

.search-section > input{
    top: 0;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.main-content{
    margin: 0 auto;
    width: 70%;
    background-size: cover;
    padding-bottom: 30px;
}

.top-product{
    margin-top: 30px;
    display: flex;
}

.product-img{
    width: 500px;
    height: 300px;
    background-image: url("/image/main.jpg");
    background-size: cover;
    background-position: center;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    width: 400px;
    height: 300px;
    margin-left: 30px;
}


.product-title{
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-sum{
    padding-left: 5px;
    padding-right: 5px;
    height: 100px;
    background-color: rgba(231, 231, 231, 0.59);
    overflow: auto;
}

.product-sum::-webkit-scrollbar{
    width: 5px;
    background-color: #ffffff;
}

.product-sum::-webkit-scrollbar-thumb{
    width: 1px;
    background-color: #939292;
}

.product-price{
    margin-top: 10px;
}

.product-price, .product-member > span{
    font-size: 1.4rem;
}

.product-price > span+span, .product-member > span+span{
    font-size: 1rem;
}

.reward-title{
    color: #a8a8a8;
    font-size: 0.8rem;
}

.reward-info{
    font-size: 0.9rem;
}

.join{
    width: 400px;
    height: 40px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #89abc4;
    color: white;
}

.detail-section{
    width: 70%;
    margin: 0 auto;
    height: auto;
}

.title{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.info{
    text-align: center;
    padding-top: 13px;
    margin: auto;
    width: 90%;
    height: 35px;
    background-color: rgba(140, 140, 140, 0.26);
    border-radius: 50px;
}

.product-detail{
    width: 90%;
    background-color: #d1efff;
    margin: 30px auto;
    height: 3000px;
    background-image: url("/image/detail.jpg");
    border-image-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}



