<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.2.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <script th:src="@{/js/home.js}" defer></script>
    <link rel="stylesheet" th:href="@{/CSS/home.css}">
    <link rel="stylesheet" href="../static/CSS/home.css">

<body>
    <div class="home-view">
        <div class="header">
            <div class="header-wrapper">
                <div class="header-upper">

                    <div class="logo-wrapper"></div>
                    <div class="user-wrapper">
                        <button class="start-project-btn">프로젝트 시작</button>
                        <button class="login-btn">로그인 하기</button>
                        <div class="user-button-wrapper">
                            <div class="user-button">
                                <a href="home.html"><img th:src="@{/image/heart.png}" src="../static/image/heart.png"/></a>
                                <a href="maker-page.html"><img th:src="@{/image/user.png}"></a>
                                <a href="service.html"><img th:src="@{/image/customer-support.png}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="header-fixed">
                <div class="categories">
                    <div class="cate-con">
                        <div id="category-bar"><i class="fi fi-br-menu-burger"></i></div>
                        <div class="category-select">
                            <div class="select-box">
                                <div>
                                    <img th:src="@{/image/tech.png}"/>
                                    <div>테크/가전</div>
                                </div>
                                <div>
                                    <img th:src="@{/image/beauty.png}" />
                                    <div>뷰티</div>
                                </div>
                                <div>
                                    <img th:src="@{/image/living.png}"/>
                                    <div>홈/리빙</div>
                                </div>
                            </div>
                            <div class="select-box">
                                <div>
                                    <img th:src="@{/image/outdoor.png}"/>
                                    <div>아웃도어</div>
                                </div>
                                <div>
                                    <img th:src="@{/image/food.png}"/>
                                    <div>푸드</div>
                                </div>
                                <div>
                                    <img th:src="@{/image/book.png}"/>
                                    <div>도서</div>
                                </div>
                            </div>
                            <div class="select-box">
                                <div>
                                    <img th:src="@{/image/pet.png}"
                                    />
                                    <div>반려동물</div>
                                </div>
                                <div>
                                    <img th:src="@{/image/kids.png}"/>
                                    <div>키즈</div>
                                </div>
                                <div>
                                    <img th:src="@{/image/game.png}"/>
                                    <div>게임</div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div id="category-home">홈</div>
                    <div id="category-popular">인기</div>
                    <div id="category-new">신규</div>
                    <div id="category-closing">마감임박</div>
                </div>
                <div class="search-section">
                    <input type="text">
                    <button id="search-btn">검색</button>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="home-wrapper">
                <div class="main-top-section">
                        <div class="main-content">
                            <div class="ad-section">
                                <div class="advertisement">

                                    <ul class="swiper-wrapper">
                                        <li class="swiper-slide">
                                            <img src="/image/christmas_15.jpg">
                                        </li>
                                    </ul>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>

                            </div>
                            <div class="recommend-section">
                                <div class="recommend-title"></div>
                                <div class="recommend-cards">
                                    <div class="recommend-title">주목할 만한 프로덕트</div>
                                    <div class="card-wrapper-section">
                                        <div class="card-wrapper">
                                            <div class="card">
                                                <div class="card-image"></div>
                                                <div class="card-info">
                                                    <dl>
                                                        <dd class="product-sub-info">
                                                            <span>카테고리명 a태그</span>
                                                        </dd>
                                                        <dt>
                                                            <a href="">프로덕트 명</a>
                                                        </dt>
                                                    </dl>
                                                    <div class="gather-status">
                                                        <span>00/100명 모집</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-image"></div>
                                                <div class="card-info">
                                                    <dl>
                                                        <dd class="product-sub-info">
                                                            <span>카테고리명 a태그</span>
                                                        </dd>
                                                        <dt>
                                                            <a href="">프로덕트 명</a>
                                                        </dt>
                                                    </dl>
                                                    <div class="gather-status">
                                                        <span>00/100명 모집</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-image"></div>
                                                <div class="card-info">
                                                    <dl>
                                                        <dd class="product-sub-info">
                                                            <span>카테고리명 a태그</span>
                                                        </dd>
                                                        <dt>
                                                            <a href="">프로덕트 명</a>
                                                        </dt>
                                                    </dl>
                                                    <div class="gather-status">
                                                        <span>00/100명 모집</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-image"></div>
                                                <div class="card-info">
                                                    <dl>
                                                        <dd class="product-sub-info">
                                                            <span>카테고리명 a태그</span>
                                                        </dd>
                                                        <dt>
                                                            <a href="">프로덕트 명</a>
                                                        </dt>
                                                    </dl>
                                                    <div class="gather-status">
                                                        <span>00/100명 모집</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-image"></div>
                                                <div class="card-info">
                                                    <dl>
                                                        <dd class="product-sub-info">
                                                            <span>카테고리명 a태그</span>
                                                        </dd>
                                                        <dt>
                                                            <a href="">프로덕트 명</a>
                                                        </dt>
                                                    </dl>
                                                    <div class="gather-status">
                                                        <span>00/100명 모집</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-image"></div>
                                                <div class="card-info">
                                                    <dl>
                                                        <dd class="product-sub-info">
                                                            <span>카테고리명 a태그</span>
                                                        </dd>
                                                        <dt>
                                                            <a href="">프로덕트 명</a>
                                                        </dt>
                                                    </dl>
                                                    <div class="gather-status">
                                                        <span>00/100명 모집</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-image"></div>
                                                <div class="card-info">
                                                    <dl>
                                                        <dd class="product-sub-info">
                                                            <span>카테고리명 a태그</span>
                                                        </dd>
                                                        <dt>
                                                            <a href="">프로덕트 명</a>
                                                        </dt>
                                                    </dl>
                                                    <div class="gather-status">
                                                        <span>00/100명 모집</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-image"></div>
                                                <div class="card-info">
                                                    <dl>
                                                        <dd class="product-sub-info">
                                                            <span>카테고리명 a태그</span>
                                                        </dd>
                                                        <dt>
                                                            <a href="">프로덕트 명</a>
                                                        </dt>
                                                    </dl>
                                                    <div class="gather-status">
                                                        <span>00/100명 모집</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="popular-content">
                            <div class="popular-content-title">인기 프로젝트</div>
                            <div class="popular-card-wrapper-section">
                                <div class="popular-card-wrapper">
                                    <div class="popular-card">
                                        <div class="popular-card-image"></div>
                                        <div class="rank">1</div>
                                        <div class="populat-card-info">
                                            <dl>
                                                <dd class="product-sub-info">
                                                    <span>카테고리명 a태그</span>
                                                </dd>
                                                <dt>
                                                    <a href="">프로덕트 명</a>
                                                </dt>
                                            </dl>
                                            <div class="gather-status">
                                                <span>00/100명 모집</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popular-card">
                                        <div class="popular-card-image"></div>
                                        <div class="rank">2</div>
                                        <div class="populat-card-info">
                                            <dl>
                                                <dd class="product-sub-info">
                                                    <span>카테고리명 a태그</span>
                                                </dd>
                                                <dt>
                                                    <a href="">프로덕트 명</a>
                                                </dt>
                                            </dl>
                                            <div class="gather-status">
                                                <span>00/100명 모집</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popular-card">
                                        <div class="popular-card-image"></div>
                                        <div class="rank">3</div>
                                        <div class="populat-card-info">
                                            <dl>
                                                <dd class="product-sub-info">
                                                    <span>카테고리명 a태그</span>
                                                </dd>
                                                <dt>
                                                    <a href="">프로덕트 명</a>
                                                </dt>
                                            </dl>
                                            <div class="gather-status">
                                                <span>00/100명 모집</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popular-card">
                                        <div class="popular-card-image"></div>
                                        <div class="rank">4</div>
                                        <div class="populat-card-info">
                                            <dl>
                                                <dd class="product-sub-info">
                                                    <span>카테고리명 a태그</span>
                                                </dd>
                                                <dt>
                                                    <a href="">프로덕트 명</a>
                                                </dt>
                                            </dl>
                                            <div class="gather-status">
                                                <span>00/100명 모집</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popular-card">
                                        <div class="popular-card-image"></div>
                                        <div class="rank">5</div>
                                        <div class="populat-card-info">
                                            <dl>
                                                <dd class="product-sub-info">
                                                    <span>카테고리명 a태그</span>
                                                </dd>
                                                <dt>
                                                    <a href="">프로덕트 명</a>
                                                </dt>
                                            </dl>
                                            <div class="gather-status">
                                                <span>00/100명 모집</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popular-card">
                                        <div class="popular-card-image"></div>
                                        <div class="rank">6</div>
                                        <div class="populat-card-info">
                                            <dl>
                                                <dd class="product-sub-info">
                                                    <span>카테고리명 a태그</span>
                                                </dd>
                                                <dt>
                                                    <a href="">프로덕트 명</a>
                                                </dt>
                                            </dl>
                                            <div class="gather-status">
                                                <span>00/100명 모집</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popular-card">
                                        <div class="popular-card-image"></div>
                                        <div class="rank">7</div>
                                        <div class="populat-card-info">
                                            <dl>
                                                <dd class="product-sub-info">
                                                    <span>카테고리명 a태그</span>
                                                </dd>
                                                <dt>
                                                    <a href="">프로덕트 명</a>
                                                </dt>
                                            </dl>
                                            <div class="gather-status">
                                                <span>00/100명 모집</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popular-card">
                                        <div class="popular-card-image"></div>
                                        <div class="rank">8</div>
                                        <div class="popular-card-info">
                                            <dl>
                                                <dd class="product-sub-info">
                                                    <span>카테고리명 a태그</span>
                                                </dd>
                                                <dt>
                                                    <a href="">프로덕트 명</a>
                                                </dt>
                                            </dl>
                                            <div class="gather-status">
                                                <span>00/100명 모집</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="view-all-popular">인기 프로젝트 전체보기</a></div>
                            </div>
                        </div>
                </div>
                <div class="main-section">
                        <div class="random-product">
                            <div class="random-content-title">이런 프로젝트는 어때요></div>
                            <div class="random-content-container">
                                <div class="random-content">
                                    <div class="random-content-image"></div>
                                    <div class="random-content-info">
                                        <dl>
                                            <dd class="product-sub-info">
                                                <span>카테고리명 a태그</span>
                                            </dd>
                                            <dt>
                                                <a href="">프로덕트 명</a>
                                            </dt>
                                        </dl>
                                        <div class="gather-status">
                                            <span>00/100명 모집</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="random-content">
                                    <div class="random-content-image"></div>
                                    <div class="random-content-info">
                                        <dl>
                                            <dd class="product-sub-info">
                                                <span>카테고리명 a태그</span>
                                            </dd>
                                            <dt>
                                                <a href="">프로덕트 명</a>
                                            </dt>
                                        </dl>
                                        <div class="gather-status">
                                            <span>00/100명 모집</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="random-content">
                                    <div class="random-content-image"></div>
                                    <div class="random-content-info">
                                        <dl>
                                            <dd class="product-sub-info">
                                                <span>카테고리명 a태그</span>
                                            </dd>
                                            <dt>
                                                <a href="">프로덕트 명</a>
                                            </dt>
                                        </dl>
                                        <div class="gather-status">
                                            <span>00/100명 모집</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="random-content">
                                    <div class="random-content-image"></div>
                                    <div class="random-content-info">
                                        <dl>
                                            <dd class="product-sub-info">
                                                <span>카테고리명 a태그</span>
                                            </dd>
                                            <dt>
                                                <a href="">프로덕트 명</a>
                                            </dt>
                                        </dl>
                                        <div class="gather-status">
                                            <span>00/100명 모집</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="random-content">
                                    <div class="random-content-image"></div>
                                    <div class="random-content-info">
                                        <dl>
                                            <dd class="product-sub-info">
                                                <span>카테고리명 a태그</span>
                                            </dd>
                                            <dt>
                                                <a href="">프로덕트 명</a>
                                            </dt>
                                        </dl>
                                        <div class="gather-status">
                                            <span>00/100명 모집</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="main-bottom-section">
                            <div class="start-banner-wrapper">
                                <div class="project-start-banner">
                                    <h2>좋은 아이디어가 있으신가요?</h2>
                                    <button>시작하기</button>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    </body>
</html>