<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="../static/CSS/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

</head>
<body>
    <div class="home-view">
        <div class="header">
            <div class="header-wrapper">
                <div class="header-upper">
                    <div class="logo-wrapper"></div>
                    <div class="user-wrapper">
                        <button class="start-project-btn">프로젝트 시작</button>
                        <button class="login-btn">로그인 하기</button>
                        <div class="user-button-wrapper">
                            <div class="user-button">
                                <a href=""><img src="../image/heart.png"/></a>
                                <a href=""><img src="../image/user.png"/></a>
                                <a href=""><img src="../image/customer-support.png"/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="header-fixed">
                <div class="categories">
                    <div id="category-bar">바</div>
                    <div id="category-home">홈</div>
                    <div id="category-popular">인기</div>
                    <div id="category-new">신규</div>
                    <div id="category-closing">마감임박</div>
                </div>
                <div class="search-section">
                    <input type="text">
                    <button id="search-btn">검색</button>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="home-wrapper">
                <div class="main-top-section">
                        <div class="main-content">
                            <div class="ad-section">
                                <div class="advertisement">
    <!--                                <div class="swiper-slide">Slide 1</div>-->
    <!--                                <div class="swiper-slide">Slide 2</div>-->
    <!--                                <div class="swiper-slide">Slide 3</div>-->
                                </div>
    <!--                            <div class="swiper-pagination"></div>-->
    <!--                            <div class="ad-swiper">-->
    <!--                                <div class="swiper-button-prev"></div>-->
    <!--                                <div class="swiper-button-next"></div>-->
    <!--                            </div>-->

                            </div>
                            <div class="recommend-section">
                                <div class="recommend-title"></div>
                                <div class="recommend-cards">
                                    <div class="recommend-title">주목할 만한 프로덕트</div>
                                    <div class="card-wrapper-section">
                                        <div class="card-wrapper">
                                            <div class="card">
                                                <div class="card-image"></div>
                                                <div class="card-info">
                                                    <dl>
                                                        <dd class="product-sub-info">
                                                            <span>카테고리명 a태그</span>
                                                        </dd>
                                                        <dt>
                                                            <a href="">프로덕트 명</a>
                                                        </dt>
                                                    </dl>
                                                    <div class="gather-status">
                                                        <span>00/100명 모집</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-image"></div>
                                                <div class="card-info">
                                                    <dl>
                                                        <dd class="product-sub-info">
                                                            <span>카테고리명 a태그</span>
                                                        </dd>
                                                        <dt>
                                                            <a href="">프로덕트 명</a>
                                                        </dt>
                                                    </dl>
                                                    <div class="gather-status">
                                                        <span>00/100명 모집</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-image"></div>
                                                <div class="card-info">
                                                    <dl>
                                                        <dd class="product-sub-info">
                                                            <span>카테고리명 a태그</span>
                                                        </dd>
                                                        <dt>
                                                            <a href="">프로덕트 명</a>
                                                        </dt>
                                                    </dl>
                                                    <div class="gather-status">
                                                        <span>00/100명 모집</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-image"></div>
                                                <div class="card-info">
                                                    <dl>
                                                        <dd class="product-sub-info">
                                                            <span>카테고리명 a태그</span>
                                                        </dd>
                                                        <dt>
                                                            <a href="">프로덕트 명</a>
                                                        </dt>
                                                    </dl>
                                                    <div class="gather-status">
                                                        <span>00/100명 모집</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-wrapper">
                                            <div class="card">
                                                <div class="card-image"></div>
                                                <div class="card-info">
                                                    <dl>
                                                        <dd class="product-sub-info">
                                                            <span>카테고리명 a태그</span>
                                                        </dd>
                                                        <dt>
                                                            <a href="">프로덕트 명</a>
                                                        </dt>
                                                    </dl>
                                                    <div class="gather-status">
                                                        <span>00/100명 모집</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-image"></div>
                                                <div class="card-info">
                                                    <dl>
                                                        <dd class="product-sub-info">
                                                            <span>카테고리명 a태그</span>
                                                        </dd>
                                                        <dt>
                                                            <a href="">프로덕트 명</a>
                                                        </dt>
                                                    </dl>
                                                    <div class="gather-status">
                                                        <span>00/100명 모집</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-image"></div>
                                                <div class="card-info">
                                                    <dl>
                                                        <dd class="product-sub-info">
                                                            <span>카테고리명 a태그</span>
                                                        </dd>
                                                        <dt>
                                                            <a href="">프로덕트 명</a>
                                                        </dt>
                                                    </dl>
                                                    <div class="gather-status">
                                                        <span>00/100명 모집</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-image"></div>
                                                <div class="card-info">
                                                    <dl>
                                                        <dd class="product-sub-info">
                                                            <span>카테고리명 a태그</span>
                                                        </dd>
                                                        <dt>
                                                            <a href="">프로덕트 명</a>
                                                        </dt>
                                                    </dl>
                                                    <div class="gather-status">
                                                        <span>00/100명 모집</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="popular-content">
                            <div class="popular-content-title">인기 프로젝트</div>
                            <div class="popular-card-wrapper-section">
                                <div class="popular-card-wrapper">
                                    <div class="popular-card">
                                        <div class="popular-card-image"></div>
                                        <div class="rank">1</div>
                                        <div class="populat-card-info">
                                            <dl>
                                                <dd class="product-sub-info">
                                                    <span>카테고리명 a태그</span>
                                                </dd>
                                                <dt>
                                                    <a href="">프로덕트 명</a>
                                                </dt>
                                            </dl>
                                            <div class="gather-status">
                                                <span>00/100명 모집</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popular-card">
                                        <div class="popular-card-image"></div>
                                        <div class="rank">2</div>
                                        <div class="populat-card-info">
                                            <dl>
                                                <dd class="product-sub-info">
                                                    <span>카테고리명 a태그</span>
                                                </dd>
                                                <dt>
                                                    <a href="">프로덕트 명</a>
                                                </dt>
                                            </dl>
                                            <div class="gather-status">
                                                <span>00/100명 모집</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popular-card">
                                        <div class="popular-card-image"></div>
                                        <div class="rank">3</div>
                                        <div class="populat-card-info">
                                            <dl>
                                                <dd class="product-sub-info">
                                                    <span>카테고리명 a태그</span>
                                                </dd>
                                                <dt>
                                                    <a href="">프로덕트 명</a>
                                                </dt>
                                            </dl>
                                            <div class="gather-status">
                                                <span>00/100명 모집</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popular-card">
                                        <div class="popular-card-image"></div>
                                        <div class="rank">4</div>
                                        <div class="populat-card-info">
                                            <dl>
                                                <dd class="product-sub-info">
                                                    <span>카테고리명 a태그</span>
                                                </dd>
                                                <dt>
                                                    <a href="">프로덕트 명</a>
                                                </dt>
                                            </dl>
                                            <div class="gather-status">
                                                <span>00/100명 모집</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popular-card">
                                        <div class="popular-card-image"></div>
                                        <div class="rank">5</div>
                                        <div class="populat-card-info">
                                            <dl>
                                                <dd class="product-sub-info">
                                                    <span>카테고리명 a태그</span>
                                                </dd>
                                                <dt>
                                                    <a href="">프로덕트 명</a>
                                                </dt>
                                            </dl>
                                            <div class="gather-status">
                                                <span>00/100명 모집</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popular-card">
                                        <div class="popular-card-image"></div>
                                        <div class="rank">6</div>
                                        <div class="populat-card-info">
                                            <dl>
                                                <dd class="product-sub-info">
                                                    <span>카테고리명 a태그</span>
                                                </dd>
                                                <dt>
                                                    <a href="">프로덕트 명</a>
                                                </dt>
                                            </dl>
                                            <div class="gather-status">
                                                <span>00/100명 모집</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popular-card">
                                        <div class="popular-card-image"></div>
                                        <div class="rank">7</div>
                                        <div class="populat-card-info">
                                            <dl>
                                                <dd class="product-sub-info">
                                                    <span>카테고리명 a태그</span>
                                                </dd>
                                                <dt>
                                                    <a href="">프로덕트 명</a>
                                                </dt>
                                            </dl>
                                            <div class="gather-status">
                                                <span>00/100명 모집</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popular-card">
                                        <div class="popular-card-image"></div>
                                        <div class="rank">8</div>
                                        <div class="popular-card-info">
                                            <dl>
                                                <dd class="product-sub-info">
                                                    <span>카테고리명 a태그</span>
                                                </dd>
                                                <dt>
                                                    <a href="">프로덕트 명</a>
                                                </dt>
                                            </dl>
                                            <div class="gather-status">
                                                <span>00/100명 모집</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="view-all-popular">인기 프로젝트 전체보기</a></div>
                            </div>
                        </div>
                </div>
                <div class="main-section">
                        <div class="random-product">
                            <div class="random-content-title">이런 프로젝트는 어때요></div>
                            <div class="random-content-container">
                                <div class="random-content">
                                    <div class="random-content-image"></div>
                                    <div class="random-content-info">
                                        <dl>
                                            <dd class="product-sub-info">
                                                <span>카테고리명 a태그</span>
                                            </dd>
                                            <dt>
                                                <a href="">프로덕트 명</a>
                                            </dt>
                                        </dl>
                                        <div class="gather-status">
                                            <span>00/100명 모집</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="random-content">
                                    <div class="random-content-image"></div>
                                    <div class="random-content-info">
                                        <dl>
                                            <dd class="product-sub-info">
                                                <span>카테고리명 a태그</span>
                                            </dd>
                                            <dt>
                                                <a href="">프로덕트 명</a>
                                            </dt>
                                        </dl>
                                        <div class="gather-status">
                                            <span>00/100명 모집</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="random-content">
                                    <div class="random-content-image"></div>
                                    <div class="random-content-info">
                                        <dl>
                                            <dd class="product-sub-info">
                                                <span>카테고리명 a태그</span>
                                            </dd>
                                            <dt>
                                                <a href="">프로덕트 명</a>
                                            </dt>
                                        </dl>
                                        <div class="gather-status">
                                            <span>00/100명 모집</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="random-content">
                                    <div class="random-content-image"></div>
                                    <div class="random-content-info">
                                        <dl>
                                            <dd class="product-sub-info">
                                                <span>카테고리명 a태그</span>
                                            </dd>
                                            <dt>
                                                <a href="">프로덕트 명</a>
                                            </dt>
                                        </dl>
                                        <div class="gather-status">
                                            <span>00/100명 모집</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="random-content">
                                    <div class="random-content-image"></div>
                                    <div class="random-content-info">
                                        <dl>
                                            <dd class="product-sub-info">
                                                <span>카테고리명 a태그</span>
                                            </dd>
                                            <dt>
                                                <a href="">프로덕트 명</a>
                                            </dt>
                                        </dl>
                                        <div class="gather-status">
                                            <span>00/100명 모집</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="main-bottom-section">
                            <div class="start-banner-wrapper">
                                <div class="project-start-banner">
                                    <h2>좋은 아이디어가 있으신가요?</h2>
                                    <button>시작하기</button>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    </body>
</html>