<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <section>
    <div>
      <div class="join-title"></div>
      <div class="join-info">
        <div class="name-box">
          <div class="join-title">이름</div>
          <input type="text" placeholder="이름">
        </div>
        <div class="id-box">
          <div class="join-title">아아디</div>
          <input type="text" placeholder="아이디">
        </div>
        <div class="pw-box">
          <div class="join-title">비밀번호</div>
          <input id="pw-input" type="text" placeholder="비밓번호">
          <input id="pw-check" type="text" placeholder="비밓번호 확인">
        </div>
        <div class="email-box">
          <div class="join-title">이메일</div>
          <input type="text" placeholder="이메일">
        </div>
      </div>
    </div>
  </section>
</body>
</html>