<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/js/login.js" defer></script>
    <link rel="stylesheet" href="../static/CSS/login.css" >
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.2.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
</head>
<body>
    <section class="login-view">
        <div class="header">
            <div class="header-wrapper">
                <div class="header-upper">
                    <div class="logo-wrapper"></div>
                    <div class="user-wrapper">
                        <button class="start-project-btn">프로젝트 시작</button>
                        <button class="login-btn">로그인 하기</button>
                        <div class="user-button-wrapper">
                            <div class="user-button">
                                <a href=""><img src="../static/image/heart.png"/></a>
                                <a href=""><img src="../static/image/user.png"/></a>
                                <a href=""><img src="../static/image/customer-support.png"/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="header-fixed">
                <div class="categories">
                    <div class="cate-con">
                        <div id="category-bar"><i class="fi fi-br-menu-burger"></i></div>
                        <div class="category-select">
                            <div class="select-box">
                                <div>
                                    <img src="../static/image/tech.png"/>
                                    <div>테크/가전</div>
                                </div>
                                <div>
                                    <img src="../static/image/beauty.png"/>
                                    <div>뷰티</div>
                                </div>
                                <div>
                                    <img src="../static/image/living.png"/>
                                    <div>홈/리빙</div>
                                </div>
                            </div>
                            <div class="select-box">
                                <div>
                                    <img src="../static/image/outdoor.png"/>
                                    <div>아웃도어</div>
                                </div>
                                <div>
                                    <img src="../static/image/food.png"/>
                                    <div>푸드</div>
                                </div>
                                <div>
                                    <img src="../static/image/book.png"/>
                                    <div>도서</div>
                                </div>
                            </div>
                            <div class="select-box">
                                <div>
                                    <img src="../static/image/pet.png"/>
                                    <div>반려동물</div>
                                </div>
                                <div>
                                    <img src="../static/image/kids.png"/>
                                    <div>키즈</div>
                                </div>
                                <div>
                                    <img src="../static/image/game.png"/>
                                    <div>게임</div>
                                </div>



                            </div>
                        </div>
                    </div>                    <div id="category-home">홈</div>
                    <div id="category-popular">인기</div>
                    <div id="category-new">신규</div>
                    <div id="category-closing">마감임박</div>
                </div>
                <div class="search-section">
                    <input type="text">
                    <button id="search-btn">검색</button>
                </div>
            </div>
        </div>
        <div class="login-main">
            <form class="wrap" th:action="@{/user/login}" method="post">
                <h3>LOGIN</h3>
                <div class="input_wrap">
                    <input class="login_input" type="text" th:name="username" placeholder="ID / phone_number"/>
                    <input class="login_input" type="password" th:name="password" placeholder="password"/>
                    <input class="login_btn" type="button" value="LOGIN">
                    <div class="forget">
                        <a th:href="@{/user/find}">아이디/패스워드를 까먹었어요..</a><br>
                    </div>
                </div>

                <div class="login_path">
                    <a th:href="@{/oauth2/authorization/kakao}" ><img id="kakao" th:src="@{book}" src="../../static/image/kakao_login_medium_narrow.png"/></a>
                    <a th:href="@{/oauth2/authorization/google}" ><img id="google" th:src="@{book}" src="../../static/image/google_login.png"/></a>
                </div>
                <div class="login_path">
                    <a th:href="@{/oauth2/authorization/naver}" ><img id="naver" th:src="@{book}" src="../../static/image/btnG_완성형.png"/></a>
                    <a href="join.html"><button id="join">회원가입하기</button></a>
                </div>
            </form>
        </div>
    </section>
</body>
</html>