<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <div>
            <div class="login-title">로그인</div>
            <div>
                <input class="login-input" type="text" placeholder="아이디 입력">
                <input class="login-input" type="text" placeholder="비밀번호 입력">
            </div>
            <a href="">로그인 정보를 잊으셨나요?</a>
        </div>
        <div class="easy-login">
            <div>이메일</div>
            <div>네이버</div>
            <div>카카오</div>
        </div>
    </section>
</body>
</html>