<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/CSS/member-page.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.2.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>

</head>
<body>
    <div class="maker-view">
        <div class="header">
            <div class="header-wrapper">
                <div class="header-upper">
                    <div class="logo-wrapper"></div>
                    <div class="user-wrapper">
                        <button class="start-project-btn">프로젝트 시작</button>
                        <button class="login-btn">로그인 하기</button>
                        <div class="user-button-wrapper">
                            <div class="user-button">
                                <a href=""><img src="../static/image/heart.png"/></a>
                                <a href=""><img src="../static/image/user.png"/></a>
                                <a href=""><img src="../static/image/customer-support.png"/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="header-fixed">
                <div class="categories">
                    <div class="cate-con">
                        <div id="category-bar"><i class="fi fi-br-menu-burger"></i></div>
                        <div class="category-select">
                            <div class="select-box">
                                <div>
                                    <img th:src="@{/image/tech.png}"/>
                                    <div>테크/가전</div>
                                </div>
                                <div>
                                    <img th:src="@{/image/beauty.png}" />
                                    <div>뷰티</div>
                                </div>
                                <div>
                                    <img th:src="@{/image/living.png}"/>
                                    <div>홈/리빙</div>
                                </div>
                            </div>
                            <div class="select-box">
                                <div>
                                    <img th:src="@{/image/outdoor.png}"/>
                                    <div>아웃도어</div>
                                </div>
                                <div>
                                    <img th:src="@{/image/food.png}"/>
                                    <div>푸드</div>
                                </div>
                                <div>
                                    <img th:src="@{/image/book.png}"/>
                                    <div>도서</div>
                                </div>
                            </div>
                            <div class="select-box">
                                <div>
                                    <img th:src="@{/image/pet.png}"
                                    />
                                    <div>반려동물</div>
                                </div>
                                <div>
                                    <img th:src="@{/image/kids.png}"/>
                                    <div>키즈</div>
                                </div>
                                <div>
                                    <img th:src="@{/image/game.png}"/>
                                    <div>게임</div>
                                </div>



                            </div>
                        </div>
                    </div>                    <div id="category-home">홈</div>
                    <div id="category-popular">인기</div>
                    <div id="category-new">신규</div>
                    <div id="category-closing">마감임박</div>
                </div>
                <div class="search-section">
                    <input type="text">
                    <button id="search-btn">검색</button>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="user-zone">
                <div class="user-select">
                    <div class="member-page"><a href="">멤버</a></div>
                    <div class="maker-page"><a href="">메이커</a></div>
                </div>
                <div>
                    <div class="member-image"></div>
                    <div class="member-name">
                        <span id="member">차연서</span><span>님</span>
                    </div>
                    <button class="logout">로그아웃</button>
                </div>
            </div>
            <div class="member-activity">
                <div class="my-activity">
                    <div class="title">나의 활동</div>
                    <div class="select-category">
                        <div class="category">
                            <div class="joined-product">참여한 프로젝트</div>
                            <div class="liked-product">관심있어한 프로젝트</div>
                        </div>
                        <div class="category">
                            <div class="finished-product">완료된 프로젝트</div>
                        </div>
                    </div>
                </div>
                <div class="my-ask">
                    <div class="title">나의 문의내역</div>
                    <div class="select-category">
                        <div class="category">
                            <div class="maker-ask">메이커 문의내역</div>
                            <div class="service-ask">고객센터 문의내역</div>
                        </div>
                    </div>
                </div>
                <div class="my-info">
                    <div class="title">개인정보</div>
                    <div class="select-category">
                        <div class="category">
                            <div class="change-info">회원정보 변경하기</div>
                            <div class="change-ad">알림 설정</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>