<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/CSS/product.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.2.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>

</head>
<body>
    <div class="main-view">
        <div class="header">
            <div class="header-wrapper">
                <div class="header-upper">
                    <div class="logo-wrapper"></div>
                    <div class="user-wrapper">
                        <button class="start-project-btn">프로젝트 시작</button>
                        <button class="login-btn">로그인 하기</button>
                        <div class="user-button-wrapper">
                            <div class="user-button">
                                <a href=""><img src="../image/heart.png"/></a>
                                <a href=""><img src="../image/user.png"/></a>
                                <a href=""><img src="../image/customer-support.png"/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="header-fixed">
                <div class="categories">
                    <div class="cate-con">
                        <div id="category-bar">바</div>
                        <div class="category-select">
                            <div class="select-box">
                                <div>
                                    <img src="../image/tech.png"/>
                                    <div>테크/가전</div>
                                </div>
                                <div>
                                    <img src="../image/beauty.png"/>
                                    <div>뷰티</div>
                                </div>
                                <div>
                                    <img src="../image/living.png"/>
                                    <div>홈/리빙</div>
                                </div>
                            </div>
                            <div class="select-box">
                                <div>
                                    <img src="../image/outdoor.png"/>
                                    <div>아웃도어</div>
                                </div>
                                <div>
                                    <img src="../image/food.png"/>
                                    <div>푸드</div>
                                </div>
                                <div>
                                    <img src="../image/book.png"/>
                                    <div>도서</div>
                                </div>
                            </div>
                            <div class="select-box">
                                <div>
                                    <img src="../image/pet.png"/>
                                    <div>반려동물</div>
                                </div>
                                <div>
                                    <img src="../image/kids.png"/>
                                    <div>키즈</div>
                                </div>
                                <div>
                                    <img src="../image/game.png"/>
                                    <div>게임</div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div id="category-home">홈</div>
                    <div id="category-popular">인기</div>
                    <div id="category-new">신규</div>
                    <div id="category-closing">마감임박</div>
                </div>
                <div class="search-section">
                    <input type="text">
                    <button id="search-btn">검색</button>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="top-product">
                <div class="product-img"></div>
                <div class="product-info">
                    <div class="product-title" th:text="${project.title}">[고양이의 하루]</div>
                    <div class="product-sum"  th:text="${project.summary}">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa집사가 내는 소리에 집중하고 대답해주는 수다냥이! 야옹 이외에도 purring(골골송), trilling 등의 긍정음을 자주 낸다면? 우리집 고양이가 행복하다는 증거로 볼 수 있어요.</div>
                    <div class="product-price"  th:text="${project.price}"><span>10,000</span> <span>원</span></div>
                    <div class="product-member"><span  th:text="${project.memberNum}">100</span> <span>명 달성 !</span></div>
                    <div>
                        <span class="reward-title">리워드</span>
                        <span class="reward-info">3번쨰 구매자까지 드리는 혜택</span><br>
                    </div>
                    <button class="join">멤버로 참여하기</button>
                </div>
            </div>
            <div class="detail-section">
                <div class="title">제품 상세정보</div>
                <div class="info">
                    도서산간에 해당하는 멤버님은 반드시 메이커에게 문의 후 참여해주세요
                </div>
                <div class="product-detail" th:text="${project.details}">
                </div>
            </div>
        </div>
    </div>
</body>
</html>