<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <div class="service">
            <div class="title">고객센터</div>
            <div class="categories">
                <div class="question">
                    <div class="icon"></div>
                    <div>문의사항 남기기</div>
                </div>
                <div class="frequent-question">
                    <div class="icon"></div>
                    <div>자주 묻는 질문</div>
                </div>
                <div class="call">
                    <div class="icon"></div>
                    <div>직접 전화하기</div>
                </div>
            </div>
        </div>
        <div class="notion">
            <div class="title">공지사항</div>
            <div class="notion-box">
                <div class="notion-title"></div>
                <div class="notion-writer"></div>
                <div class="notion-date"></div>
            </div>
            <div class="notion-box">
                <div class="notion-title"></div>
                <div class="notion-writer"></div>
                <div class="notion-date"></div>
            </div>
            <div class="notion-box">
                <div class="notion-title"></div>
                <div class="notion-writer"></div>
                <div class="notion-date"></div>
            </div>
        </div>
    </section>
</body>
</html>